{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" ignore missing %}

<!-- Vendor JS Files -->
<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>

<!-- Template Main JS File -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <title>New Post</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


</head>
<body>

<header class="posthead" style="background: url('{{post.img_url}}')">
    <section id="posthead">
        <h1 class="post-title">{{post.title}}</h1>
        <h2 class="post-subtitle">{{post.subtitle}}</h2>
        <p class="fst-italic">
            Posted By
            <a class="posted-name" href="{{ url_for('show_post', post_id=post.id) }}">{{ post.author.name }}</a>
            on {{ post.date }}
        </p>
    </section>
</header>

<!-- Post Content -->
<main id="main">
    <section id="faq" class="faq">
        <div class="container">
            <div class="row  d-flex align-items-stretch">
                <div class="col-lg-12 faq-item">
                    <i class="bx bx-help-circle"></i>
                    <p>{{post.body|safe}}</p>

                    <hr>

                    {{ ckeditor.load() }}
                    {{ ckeditor.config(name='comment_text') }}
                    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "info"}) }}


                    <div class="clearfix">
                        {% if current_user.id == 1 %}
                        <a class="btn btn-info float-bottom" href="{{url_for('edit_post', post_id=post.id)}}">Edit
                            Post</a>
                        {% endif %}
                    </div>
                    <section id="services" class="services section-bg">
                        <div class="container">
                            {% for comment in post.comments %}
                            <div class="row">
                                <div class="col-lg-8 col-md-10 mx-auto icon-box">
                                    <div class="commenterImage"><img src="{{ comment.comment_author.email | gravatar}}">
                                    </div>
                                    <h4 class="commentText"><a href="">{{ comment.name | safe }}</a></h4>
                                    <p class="commentText">{{ comment.text | safe }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <hr class="hr">
    </section>
</main>
</body>

{% include "footer.html" %}